header {
  background-color: #fff;
}

header .my-card {
  height: 100px;
  border: 1px solid black;
}

header button {
  outline: none;
  border: 3px solid #9ac9fb;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  background-color: #b9d7f8;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 5px;
}

header button:hover {
  background-color: #f9fbfc;
  border: 3px solid #9ac9fb;
  color: #9ac9fb;
}

header nav {
  height: 90%;
  width: 90%;
  background-color: #9ac9fb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
