.coverImg{
    object-fit: cover;
}
.sizeImg{
    width: 150px;
    height: 150px;
}
.btn-primary{
    background-color: white;
    color:#70aff1;
    border: #9AC9FB 1.5px solid;
}
a:active, a:hover .btn-primary:hover .btn-primary:active{
    background-color:#9AC9FB ;
    color:white
}
.card{
    border:1px solid #9AC9FB;
}
.hover:hover{
    background-color: #5aa7f8;
    border: white;
}
.zoom:hover {
    transform: scale(1.2); 
  }